[submodule ".registry"]
	path = .registry
	url = https://github.com/amaltawfik/amaltawfik.r-universe.dev
	branch = HEAD
[submodule "lssdoc"]
	path = lssdoc
	url = https://github.com/amaltawfik/lssdoc
[submodule "spicy"]
	path = spicy
	url = https://github.com/amaltawfik/spicy
